* {
  box-sizing: border-box;
  background-color: #f2f3f5;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content{
  margin: 4em;
  max-width: 1200px;
}

.answer-box{
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.blue-button {
  background-color: #3f59a1;
  color: white;
  border-color: #3f59a1;;
  border-radius: 10px;
  border-style: solid;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.settings-button {
  background-color: #009999;
  color: white;
  border-color: #009999;
  border-radius: 10px;
  border-style: solid;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

input[type="radio"] {
  opacity: 0;
  margin: 10px;
  margin-bottom: 25px;
}

input[type="radio"] + label {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #2187ab;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 5px;
}

input[type="radio"]:checked + label {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: #2187ab;
  background-color: #2187ab;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.correct-markedAnswer {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  border-color: #2eb82e;
  background-color: #2eb82e;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.main-title {
  color: white;
  background-color: #2187ab;
  text-align: center;
  padding: 0.1em ;
  border: solid 3px #2187ab;
  border-radius: 10px;
}
.options-select-text {
  color: whitesmoke;
  background-color: #2097ab;
  padding: 0.4em ;
  border: solid 3px #2097ab;
  border-radius: 10px;
}
.center {
  text-align: center;
}

input[type=number] {
  width: 100%;
  border: 2px solid #2097ab;
  border-radius: 10px;
  text-align: center;
}

select {
  width: 100%;
  border: 2px solid #2097ab;
  border-radius: 10px;
  text-align: center;
}